* {
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: #2C2C2C;
}

#title {
	text-align: center;
	color: white;
	padding: 1%;
	font-size: 72pt;
}

.page {
	background-color: white;
	border: 0px solid #23272A;
	border-radius: 15px;
	margin-left: 15%;
	margin-right: 15%;
	padding: 30px;
	-webkit-box-shadow: 10px 10px 87px  rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 87px  rgba(0,0,0,1);
	box-shadow: 10px 10px 87px  rgba(0,0,0,1);
}

#quote {
	text-align: left;
	font-size: 24pt;
	width: 60%;
}

#author {
	text-align: right;
	font-size: 20pt;
}